<div id="greet">

    <h1>Hello, hungry!</h1>

    <h3> Enter your Data and enjoy our partners </h3>
    <h2> Aqui vai um baita formulário pra nois já fazer o cadastro</h2>  
    <h3> Are you already a member? <%= link_to "Log-in here", "/home/index" %> </h3>

</div>